body {
  margin: 0;
  overflow: hidden;
}

#overlay {
  position: absolute;
}

#actions {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 20px;
}

#play {
  align-items: center;
  display: flex;
  border: none;
  background: none;
  padding: 12px;
}

#play > i {
  color: white;
  font-size: 20px;
}

ul {
  border: 1px solid white;
  list-style-type: none;
  color: #fff;
  padding: 10px;
  margin: 20px;
  line-height: 1.5;
  width: 300px;
}

canvas {
  z-index: -9999;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
  display: flex;
  align-items: center;
  height: 2.5px;
}
